 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1500px;
	 height: 1698px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1500px;
	 height: 1698px;
	 z-index:1;
} 

 #Rectangle1copy5 
{ 
	 left: 164px; 
	 top: 148px; 
	 position: absolute; 
	 width: 1172px;
	 height: 2354px;
	 z-index:2;
} 

 #EnergyandPower 
{ 
	 left: 194px; 
	 top: 179px; 
	 position: absolute; 
	 width: 117px;
	 height: 13px;
	 z-index:3;
} 

 #NonRenewableConventi 
{ 
	 left: 203px; 
	 top: 210px; 
	 position: absolute; 
	 width: 179px;
	 height: 134px;
	 z-index:4;
} 

 #Rectangle1copy9 
{ 
	 left: 402px; 
	 top: 148px; 
	 position: absolute; 
	 width: 4px;
	 height: 2058px;
	 z-index:5;
} 

 #FooterBg 
{ 
	 left: -1px; 
	 top: 1481px; 
	 position: absolute; 
	 width: 1502px;
	 height: 216px;
	 z-index:6;
} 

 #ConferencesResearchI 
{ 
	 left: 511px; 
	 top: 1551px; 
	 position: absolute; 
	 width: 477px;
	 height: 14px;
	 z-index:7;
} 

 #DisclaimerPrivacyPol 
{ 
	 left: 473px; 
	 top: 1586px; 
	 position: absolute; 
	 width: 554px;
	 height: 12px;
	 z-index:8;
} 

 #ABOUTTRUSTONLINE 
{ 
	 left: 1156px; 
	 top: 1552px; 
	 position: absolute; 
	 width: 130px;
	 height: 9px;
	 z-index:9;
} 

 #Layer39 
{ 
	 left: 1293px; 
	 top: 1581px; 
	 position: absolute; 
	 width: 41px;
	 height: 25px;
	 z-index:10;
} 

 #Layer40 
{ 
	 left: 1248px; 
	 top: 1581px; 
	 position: absolute; 
	 width: 41px;
	 height: 25px;
	 z-index:11;
} 

 #Layer41 
{ 
	 left: 1202px; 
	 top: 1581px; 
	 position: absolute; 
	 width: 42px;
	 height: 25px;
	 z-index:12;
} 

 #Layer42 
{ 
	 left: 1156px; 
	 top: 1581px; 
	 position: absolute; 
	 width: 42px;
	 height: 25px;
	 z-index:13;
} 

 #Shape138copy3 
{ 
	 left: 163px; 
	 top: 1579px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:14;
} 

 #Shape138copy2 
{ 
	 left: 195px; 
	 top: 1579px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:15;
} 

 #Shape138copy 
{ 
	 left: 227px; 
	 top: 1579px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:16;
} 

 #Shape138 
{ 
	 left: 259px; 
	 top: 1579px; 
	 position: absolute; 
	 width: 28px;
	 height: 28px;
	 z-index:17;
} 

 #CONNECTWITHUS 
{ 
	 left: 164px; 
	 top: 1552px; 
	 position: absolute; 
	 width: 109px;
	 height: 9px;
	 z-index:18;
} 

 #Rectangle5copy4 
{ 
	 left: 98px; 
	 top: 1412px; 
	 position: absolute; 
	 width: 1303px;
	 height: 4px;
	 z-index:19;
} 

 #Home4Industries4Ener 
{ 
	 left: 437px; 
	 top: 175px; 
	 position: absolute; 
	 width: 242px;
	 height: 12px;
	 z-index:20;
} 

 #PublishedReportsinIo 
{ 
	 left: 435px; 
	 top: 1122px; 
	 position: absolute; 
	 width: 256px;
	 height: 25px;
	 z-index:21;
} 

 #Rectangle5 
{ 
	 left: 433px; 
	 top: 1159px; 
	 position: absolute; 
	 width: 303px;
	 height: 253px;
	 z-index:22;
} 

 #Rectangle5copy 
{ 
	 left: 433px; 
	 top: 1244px; 
	 position: absolute; 
	 width: 303px;
	 height: 4px;
	 z-index:23;
} 

 #KnowMore 
{ 
	 left: 455px; 
	 top: 1377px; 
	 position: absolute; 
	 width: 87px;
	 height: 12px;
	 z-index:24;
} 

 #Shape4 
{ 
	 left: 551px; 
	 top: 1376px; 
	 position: absolute; 
	 width: 18px;
	 height: 15px;
	 z-index:25;
} 

 #VendorComparisoninAp 
{ 
	 left: 455px; 
	 top: 1185px; 
	 position: absolute; 
	 width: 209px;
	 height: 45px;
	 z-index:26;
} 

 #Loremipsumdolorsitam 
{ 
	 left: 455px; 
	 top: 1290px; 
	 position: absolute; 
	 width: 244px;
	 height: 59px;
	 z-index:27;
} 

 #15March2016 
{ 
	 left: 454px; 
	 top: 1266px; 
	 position: absolute; 
	 width: 82px;
	 height: 9px;
	 z-index:28;
} 

 #Rectangle5_0 
{ 
	 left: 763px; 
	 top: 1159px; 
	 position: absolute; 
	 width: 303px;
	 height: 253px;
	 z-index:29;
} 

 #Rectangle5copy_0 
{ 
	 left: 763px; 
	 top: 1244px; 
	 position: absolute; 
	 width: 303px;
	 height: 4px;
	 z-index:30;
} 

 #RoundedRectangle2 
{ 
	 left: 784px; 
	 top: 1402px; 
	 position: absolute; 
	 width: 142px;
	 height: 43px;
	 z-index:31;
} 

 #KnowMore_0 
{ 
	 left: 785px; 
	 top: 1377px; 
	 position: absolute; 
	 width: 87px;
	 height: 12px;
	 z-index:32;
} 

 #Shape4_0 
{ 
	 left: 881px; 
	 top: 1376px; 
	 position: absolute; 
	 width: 18px;
	 height: 15px;
	 z-index:33;
} 

 #VendorComparisoninAp_0 
{ 
	 left: 785px; 
	 top: 1185px; 
	 position: absolute; 
	 width: 209px;
	 height: 45px;
	 z-index:34;
} 

 #Loremipsumdolorsitam_0 
{ 
	 left: 785px; 
	 top: 1290px; 
	 position: absolute; 
	 width: 244px;
	 height: 59px;
	 z-index:35;
} 

 #15March2016_0 
{ 
	 left: 784px; 
	 top: 1266px; 
	 position: absolute; 
	 width: 82px;
	 height: 9px;
	 z-index:36;
} 

 #Rectangle1copy5_0 
{ 
	 left: 433px; 
	 top: 1090px; 
	 position: absolute; 
	 width: 633px;
	 height: 4px;
	 z-index:37;
} 

 #Rectangle10 
{ 
	 left: 443px; 
	 top: 1089px; 
	 position: absolute; 
	 width: 93px;
	 height: 5px;
	 z-index:38;
} 

 #OverviewUpcomingWebi 
{ 
	 left: 455px; 
	 top: 1066px; 
	 position: absolute; 
	 width: 547px;
	 height: 12px;
	 z-index:39;
} 

 #Rectangle5copy3 
{ 
	 left: 433px; 
	 top: 268px; 
	 position: absolute; 
	 width: 633px;
	 height: 123px;
	 z-index:40;
} 

 #Layer24 
{ 
	 left: 430px; 
	 top: -7px; 
	 position: absolute; 
	 width: 640px;
	 height: 455px;
	 z-index:41;
} 

 #RoundedRectangle2_0 
{ 
	 left: 463px; 
	 top: 673px; 
	 position: absolute; 
	 width: 143px;
	 height: 43px;
	 z-index:42;
} 

 #KnowMore_1 
{ 
	 left: 454px; 
	 top: 614px; 
	 position: absolute; 
	 width: 88px;
	 height: 12px;
	 z-index:43;
} 

 #Shape4_1 
{ 
	 left: 550px; 
	 top: 613px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:44;
} 

 #Loremipsumdolorsitam_1 
{ 
	 left: 436px; 
	 top: 430px; 
	 position: absolute; 
	 width: 583px;
	 height: 63px;
	 z-index:45;
} 

 #Sedsollicitudinsitam 
{ 
	 left: 435px; 
	 top: 522px; 
	 position: absolute; 
	 width: 609px;
	 height: 41px;
	 z-index:46;
} 

 #Praesentaarculuctusc 
{ 
	 left: 436px; 
	 top: 593px; 
	 position: absolute; 
	 width: 609px;
	 height: 63px;
	 z-index:47;
} 

 #Loremipsumdolorsitam_2 
{ 
	 left: 436px; 
	 top: 686px; 
	 position: absolute; 
	 width: 583px;
	 height: 63px;
	 z-index:48;
} 

 #Praesentincommodonib 
{ 
	 left: 436px; 
	 top: 778px; 
	 position: absolute; 
	 width: 603px;
	 height: 63px;
	 z-index:49;
} 

 #Sedvehiculaarcuanequ 
{ 
	 left: 435px; 
	 top: 872px; 
	 position: absolute; 
	 width: 428px;
	 height: 41px;
	 z-index:50;
} 

 #Loremipsumdolorsitam_3 
{ 
	 left: 436px; 
	 top: 942px; 
	 position: absolute; 
	 width: 583px;
	 height: 63px;
	 z-index:51;
} 

 #RoundedRectangle2_1 
{ 
	 left: 793px; 
	 top: 673px; 
	 position: absolute; 
	 width: 143px;
	 height: 43px;
	 z-index:52;
} 

 #KnowMore_2 
{ 
	 left: 784px; 
	 top: 614px; 
	 position: absolute; 
	 width: 88px;
	 height: 12px;
	 z-index:53;
} 

 #Shape4_2 
{ 
	 left: 880px; 
	 top: 613px; 
	 position: absolute; 
	 width: 19px;
	 height: 15px;
	 z-index:54;
} 

 #CaseStudies 
{ 
	 left: 684px; 
	 top: 320px; 
	 position: absolute; 
	 width: 132px;
	 height: 20px;
	 z-index:55;
} 

 #EnergyandPower_0 
{ 
	 left: 437px; 
	 top: 213px; 
	 position: absolute; 
	 width: 290px;
	 height: 37px;
	 z-index:56;
} 

 #Rectangle11 
{ 
	 left: 1093px; 
	 top: 178px; 
	 position: absolute; 
	 width: 213px;
	 height: 133px;
	 z-index:57;
} 

 #Howcanwehelpyou 
{ 
	 left: 1111px; 
	 top: 200px; 
	 position: absolute; 
	 width: 159px;
	 height: 17px;
	 z-index:58;
} 

 #Todiscusshowourteamc 
{ 
	 left: 1111px; 
	 top: 234px; 
	 position: absolute; 
	 width: 179px;
	 height: 53px;
	 z-index:59;
} 

 #OurAnalyst 
{ 
	 left: 1096px; 
	 top: 350px; 
	 position: absolute; 
	 width: 84px;
	 height: 17px;
	 z-index:60;
} 

 #Rectangle5copy5 
{ 
	 left: 1093px; 
	 top: 386px; 
	 position: absolute; 
	 width: 63px;
	 height: 63px;
	 z-index:61;
} 

 #Layer43 
{ 
	 left: 890px; 
	 top: 252px; 
	 position: absolute; 
	 width: 270px;
	 height: 280px;
	 z-index:62;
} 

 #TomSheldonLeaderMark 
{ 
	 left: 1169px; 
	 top: 389px; 
	 position: absolute; 
	 width: 139px;
	 height: 55px;
	 z-index:63;
} 

 #Rectangle5copy5_0 
{ 
	 left: 1093px; 
	 top: 466px; 
	 position: absolute; 
	 width: 63px;
	 height: 63px;
	 z-index:64;
} 

 #Layer43_0 
{ 
	 left: 958px; 
	 top: 332px; 
	 position: absolute; 
	 width: 270px;
	 height: 280px;
	 z-index:65;
} 

 #JonathanDesouzaLeade 
{ 
	 left: 1168px; 
	 top: 469px; 
	 position: absolute; 
	 width: 140px;
	 height: 55px;
	 z-index:66;
} 

 #Rectangle5copy5_1 
{ 
	 left: 1093px; 
	 top: 546px; 
	 position: absolute; 
	 width: 63px;
	 height: 63px;
	 z-index:67;
} 

 #Layer43_1 
{ 
	 left: 1022px; 
	 top: 412px; 
	 position: absolute; 
	 width: 270px;
	 height: 280px;
	 z-index:68;
} 

 #TomSheldonLeaderMark_0 
{ 
	 left: 1169px; 
	 top: 549px; 
	 position: absolute; 
	 width: 139px;
	 height: 55px;
	 z-index:69;
} 

 #Rectangle5copy5_2 
{ 
	 left: 1093px; 
	 top: 626px; 
	 position: absolute; 
	 width: 63px;
	 height: 63px;
	 z-index:70;
} 

 #Layer43_2 
{ 
	 left: 958px; 
	 top: 557px; 
	 position: absolute; 
	 width: 270px;
	 height: 280px;
	 z-index:71;
} 

 #JonathanDesouzaLeade_0 
{ 
	 left: 1168px; 
	 top: 629px; 
	 position: absolute; 
	 width: 140px;
	 height: 55px;
	 z-index:72;
} 

 #Rectangle1 
{ 
	 left: 163px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1173px;
	 height: 92px;
	 z-index:73;
} 

 #Rectangle1copy8 
{ 
	 left: 378px; 
	 top: 33px; 
	 position: absolute; 
	 width: 958px;
	 height: 4px;
	 z-index:74;
} 

 #Rectangle1copy7 
{ 
	 left: 378px; 
	 top: -1px; 
	 position: absolute; 
	 width: 4px;
	 height: 92px;
	 z-index:75;
} 

 #IndustriesConsulting 
{ 
	 left: 400px; 
	 top: 57px; 
	 position: absolute; 
	 width: 464px;
	 height: 13px;
	 z-index:76;
} 

 #AboutUsInsightsM 
{ 
	 left: 400px; 
	 top: 14px; 
	 position: absolute; 
	 width: 485px;
	 height: 8px;
	 z-index:77;
} 

 #NetmagicLogoColourco 
{ 
	 left: 184px; 
	 top: 20px; 
	 position: absolute; 
	 width: 180px;
	 height: 46px;
	 z-index:78;
} 
